.tag__container {
  background: rgb(161 123 156 / 45.5%);
  border-radius: 15px;
  color: var(--dark);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  padding: 10px;
  text-transform: lowercase;
}
