@media only screen and (max-width: 800px) {
  .main-container {
    animation: fade-in linear 0.5s;
    margin: auto;
    margin-bottom: 100px;
    min-width: fit-content;
    padding: 20px;
    transition: all 0.5s ease;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1700px) {
  .main-container {
    animation: fade-in linear 0.5s;
    margin: auto;
    margin-bottom: 100px;
    max-width: 65%;
    padding: 20px;
    transition: all 0.5s ease;
  }
}

@media only screen and (min-width: 1701px) {
  .main-container {
    animation: fade-in linear 0.5s;
    margin: auto;
    margin-bottom: 100px;
    max-width: 60%;
    transition: all 0.5s ease;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
