.card__container {
  display: inline-block;
  flex-grow: 1;
  margin: 10px;
  position: relative;
}

.card__main-container {
  background: rgb(142 123 161 / 45.5%);
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgb(0 0 0 / 9%), -5px -5px 30px 7px rgb(0 0 0 / 5%);
  max-width: 300px;
  min-height: 320px;
  overflow: hidden;
  position: relative;
  transition: 0.8s ease-in-out;
}

.card__main-container-pink {
  background: rgb(161 123 156 / 45.5%);
}

.card__main-container-blue {
  background: rgb(106 108 161 / 45.5%);
}

.card__main-container-peach {
  background: rgb(212 153 129 / 45.5%);
}

.card__main-container::before {
  background: rgb(76 50 100);
  clip-path: circle(150px at 80% 20%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.8s ease-in-out;
  width: 100%;
}

.card__main-container-pink::before {
  background: rgb(141 84 127 / 45.5%);
}

.card__main-container-blue::before {
  background: rgb(85 84 141 / 45.5%);
}

.card__main-container-peach::before {
  background: rgb(165 73 42 / 45.5%);
}

.card__main-container:hover::before {
  clip-path: circle(300px at 80% -20%);
}

.card__main-container::after {
  color: rgb(229 186 253 / 7%);
  content: "app";
  font-size: 12em;
  font-style: italic;
  font-weight: 800;
  left: -20%;
  position: absolute;
  top: 30%;
  transition: 1s ease-in;
}

.card__main-container:hover {
  box-shadow:
    5px 5px 30px 15px rgb(0 0 0 / 9%),
    -5px -5px 30px 15px rgb(0 0 0 / 5%);
  transform: scale(0.97, 0.97);
  transition: 0.8s ease-in-out;
}

.card__main-container:hover::after {
  color: rgb(229 186 253 / 3%);
  transition: 1s ease-out;
}

.card__image-box {
  height: 220px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  width: 100%;
  z-index: 10000;
}

.card__main-container:hover .card__image-box {
  top: 0%;
  transform: translateY(0%);
}

.card__image-box img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  width: 110px;
}

.card__content-box {
  bottom: 0;
  height: 50px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: 1s;
  width: 100%;
  z-index: 10;
}

.card__main-container:hover .card__content-box {
  height: 100px;
  opacity: 1;
}

.card__content-box h2 {
  color: var(--dark);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
}

.card__content-box p {
  color: var(--dark);
  font-size: 12px;
}
