.card__container {
  display: inline-block;
  flex-grow: 1;
  margin: 10px;
  position: relative;
}

.card__main-container {
  background: rgb(157 124 190 / 45.5%);
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px rgb(0 0 0 / 5%), -5px -5px 30px 7px rgb(0 0 0 / 2%);
  overflow: hidden;
  position: relative;
  transition: 0.5s ease-in-out;
}

.card__main-container-pink {
  background: rgb(201 155 195 / 45.5%);
}

.card__main-container-blue {
  background: rgb(148 149 202 / 45.5%);
}

.card__main-container-peach {
  background: rgb(212 147 137 / 45.5%);
}

.card__main-container:hover {
  box-shadow:
    5px 5px 30px 15px rgb(0 0 0 / 9%),
    -5px -5px 30px 15px rgb(0 0 0 / 3%);
  transition: 0.5s ease-in-out;
}

.card__main-container:hover::after {
  color: rgb(229 186 253 / 2%);
  transition: 1s ease-out;
}

.card__image-box img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card__content-box {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px 25px;
}

.card__content-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 800;
}

.card__description {
  color: var(--dark);
  font-size: 13px;
}

.card__tags-row {
  flex-direction: row;
  margin: 0 25px 20px;
}

.card__tags-container {

}

.card__links-container {
  flex-direction: column;
  flex-shrink: 0;
}
