@media only screen and (max-width: 1000px) {
  .header__header-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    transition: all 1s ease;
  }

  .header__text-container {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 1000px) {
  .header__header-container {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    transition: all 1s ease;
  }

  .header__text-container {
    margin-left: 3em;
  }
}

.header__text-container {
  align-items: flex-start;
  letter-spacing: 0.8px;
  margin-top: auto;
}

.header__title {
  font-size: 60px;
  font-weight: 600;
}

.header__inline-color {
  color: var(--pink);
  display: inline;
  font-weight: 600;
}

.header__text-inline-color {
  color: var(--purple);
  display: inline;
  font-weight: 600;
}

.header__text-inline-color:nth-of-type(2) {
  color: var(--peach);
}

.header__text-inline-color:nth-of-type(3) {
  color: var(--blue);
}

.header__text {
  line-height: 160%;
}
